<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>gfznyy3@tznvy.pbz</string>
	<key>contactName</key>
	<string>Tom Small</string>
	<key>description</key>
	<string>My custom extensions for TextMate.</string>
	<key>name</key>
	<string>Tom’s Bundle</string>
	<key>uuid</key>
	<string>561BCADD-71BA-4037-8E52-935AC231D06C</string>
</dict>
</plist>
