[submodule "emacs.d/site-lisp/pcmpl-git-el"]
	path = emacs.d/site-lisp/pcmpl-git-el
	url = git://github.com/leoliu/pcmpl-git-el.git
[submodule "emacs.d/site-lisp/restclient.el"]
	path = emacs.d/site-lisp/restclient.el
	url = https://github.com/pashky/restclient.el.git
