* > * {
  font-family: Verdana, "Bitstream Vera Sans", sans-serif;
  font-size: 12px;
  line-height: 1.8em;
  max-width: 35em;
  margin: 0;
  padding: 0;
}

* > * {
  margin: 0 0 1.6em 0;
}

body > p:first-child,
li
{
  margin-top: 0;
}

a {
  color: #000000;
  text-decoration: none;
  border-bottom: 1px solid #aaa;
  padding: 3px 0 2px 0;
}

code,
pre,
pre * {
  font-family: Menlo, "DejaVu Sans Mono", Monaco, monospace;
}

code, tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px;
}

h1 {
  border-top: 2px solid #aaaaaa;
  margin-top: 33px;
}

ol, ul {
  margin-left: 1.5em;
}

body {
  background-color: #ffffff;
  padding: 3em;
}

blockquote {
  border-left: 4px solid #dddddd;
  color: #777777;
  padding-left: 13px;
}

hr {
  border: 0 none;
  color: #dddddd;
  background-color: #dddddd;
  height: 2px;
}

th
{
  text-align: left;
}
